<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Homepage</title>
    <link rel="stylesheet" href="/stylesheet/style.css">
    </head>
    <body>
        <!-- Navigation bar -->
        <nav>
            <a href="editors">Add new file</a>
        </nav>

        <div class="main_container">
            <!-- Displaying all the text files -->
            <% allText.forEach((text) => { %>
            <a href="/view/<%=text._id%>">
                <div class="files_details">
                    <h1 class="file title"><%= text.title %></h1>
                    <h2 class="files_description"><%- text.content %></h2>
                    <h2 class="file_time"><%= allTime.Currentdate %></h2>
                    <div class="btns">
                        <button class="btnDelete">
                            <a href="/delete/<%= text._id %>">Delete</a>
                        </button>

                        <button class="btnEdit">
                            <a href="/edit/<%= text._id %>">Edit</a>
                        </button>
                    </div>
                </div>
            </a>
            <% }) %>
        </div>
    </body>
</html>
